.overlayOpen {
  visibility: visible;
  position: fixed;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  background: rgba(51, 51, 51, 0.5);
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

.overlayClose {
  visibility: hidden;
  position: fixed;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  background: rgba(51, 51, 51, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.drawerOpen {
  visibility: visible;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(0);
  width: 60%;
  height: 100vh;
  padding: 30px 15px;
  box-sizing: border-box;
  background-color: white;
  transition: all 300ms;
  box-sizing: border-box;
}

.drawerClose {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  width: 60%;
  height: 100vh;
  padding: 30px 15px;
  box-sizing: border-box;
  background-color: white;
  transition: all 300ms;
}

.icon {
  cursor: pointer;
}

.dataWrap {
  margin-top: 30px;
  display: grid;
  gap: 15px;
  place-items: center;
}

.dataWrap li {
  cursor: pointer;
  font-size: 18px;
}


/****** MEDIA QUERIES *******/
@media (max-width: 1120px) {
  .container {
    padding: 10px 3%;
  }
}

@media (min-width: 740px) {
  .drawerOpen{
    display: none;
  }

  .overlayOpen{
    display: none;
  }
}